version: '2'

services:
  client:
    build:
      context: ./client
      dockerfile: ./docker/Dockerfile
    environment:
      APP_CLIENT_PORT: ${APP_CLIENT_PORT}
    ports:
      - ${APP_CLIENT_PORT}:${APP_CLIENT_PORT}
    volumes:
      - ./client/app:/srv
    command: yarn serve

  server:
    build:
      context: ./server
      dockerfile: ./docker/Dockerfile
    expose:
      - ${APP_SERVER_PORT}
    environment:
      API_HOST: ${API_HOST}
      API_SERVER_PORT: ${APP_SERVER_PORT}
    ports:
      - ${APP_SERVER_PORT}:${APP_SERVER_PORT}
    volumes:
    - ./server/app:/srv
    command: npm run start

  mongo:
    image: mongo:3.6.5
    restart: always
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_DATABASE: default
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: root
    volumes:
      - ./mongodb/init:/mongodb/docker-entrypoint-initdb.d
      - ./mongodb/scripts:/scripts

  mongo-express:
    image: mongo-express
    restart: always
    ports:
      - "8081:8081"
    environment:
      ME_CONFIG_MONGODB_ADMINUSERNAME: root
      ME_CONFIG_MONGODB_ADMINPASSWORD: root
